.left
{
    float: left;
}

.right
{
    float: right;
}

.active
{
    background: rgb(38, 97, 31);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.link-active
{
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 15px;
    color: #15701C;
}

.unactive
{
    background: rgb(227, 227, 227);
    color: rgb(37, 37, 37);
}

.link-unactive
{
    transition: all 0.2s;
}

.hover
{
    background: rgb(154, 154, 154);
    color: rgb(37, 37, 37);
}

.disable-pointer-events
{
    pointer-events: none;
}

.icon
{
    width: 20px;
    height: 20px;
}

.icon-edit
{
    width: 30px;
    height: 36px;
}

.pic
{
    width: 50px;
    height: 50px;
}

.auto
{
    overflow: auto;
}

.both
{
    clear: both;
}

.fixed
{
    position: fixed;
}

.absolute
{
    position: absolute;
}

.separator
{
    width: 1px;
    background: rgb(186, 186, 186);
}

.black
{
    color: rgb(68, 68, 68);
}

.orange
{
    color: rgb(209, 130, 48)
}

.red
{
    color: rgb(150, 52, 52);
}

.green
{
    color: rgb(38, 97, 31);
}

.blue
{
    color: rgb(43, 65, 142);
}

.smoke
{
    color: rgb(166, 164, 164)
}

.smooth-smoke
{
    color: rgb(195, 195, 195)
}

.shadow
{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.section
{
    margin: 0 0 20px;
}

.child-section, .inner-section
{
    padding: 10px;
}

.inner-section
{
    background: rgb(255, 255, 255);
}

.roboto
{
    font-family: 'Roboto', sans-serif;
}

.underline
{
    text-decoration: underline;
}

.underline:hover
{
    text-decoration: none;
}

.section
{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
    margin: 0 0 20px 0;
    font-family: sans-serif;
    padding: 10px 20px;
    color: rgb(68, 68, 68);
}

.empty-content
{
    padding: 40px;
}

.tr-0
{
    background: rgb(235, 235, 235);
}

.tr-1
{
    background: rgb(245, 245, 245);
}

.loading
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: none;
}

.loading p
{
    margin: 5px 0 0;
}

.loading-sm
{
    width: 20px;
    height: 20px;
}

.trash
{
    margin: 40px 0 0;
}

.pointer
{
    cursor: pointer;
}

.box-pagination
{
    margin: 20px 0;
}

ul.menu-pagination li.page-list, ul.menu-pagination li.page-nextprev
{
    background: rgb(227, 227, 227);
    padding: 4px 10px;
}

ul.menu-pagination li.page-inactive
{
    background: rgb(237, 237, 237);
    padding: 4px 10px;
}

ul.menu-pagination li.page-list:hover, ul.menu-pagination li.page-nextprev:hover
{
    background: rgb(200, 200, 200);
}

ul.menu-pagination li.menu-pagination-active
{
    background: rgb(200, 200, 200);
}
