textarea
{
    resize: none;
}

select
{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(164, 164, 164);
    border-radius: 5px;
    transition: all 0.2s;
}

select:hover
{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

table
{
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

table tr th, table tr td
{
    padding: 8px;
}

#header
{
    height: 50px;
    font-family: 'Roboto', sans-serif;
    margin: 0 150px 0 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0;
}

#header h1
{
    font-size: 26px;
    margin: 10px 0 0;
}

#header-top-right
{
    width: 800px;
}

#user-box-header
{
    font-family: sans-serif;
}

#user-box-header p
{
    margin: 5px 0 0 20px;
    padding: 0;
}

#user-box-header a
{
    margin: 0;
    padding: 0;
    /*color: rgb(227, 227, 227);*/
    font-size: 12px;
}

#separator-header
{
    margin: 7px 0 0 20px;
    height: 35px;
}

#site-icon:hover
{
    cursor: pointer;
}

#navigation
{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 120px;
    height: 100%;
    overflow: auto;
    padding: 60px 0 0;
    background: rgb(227, 227, 227);
}

#trash-inner
{
    background: rgb(240,240,240);
}

#alert
{
    position: fixed;
    top: 60px;
}

#search
{
    width: 250px;
    height: 30px;
    margin-right: 5px;
}

#table-content
{
    margin: 20px 0 0;
}

.media-menu
{
    width: 100%;
    height: 80%;
    top: 75px;
    position: fixed;
    padding: 0 160px 60px 0;
}

.media-menu-inner
{
    width: 70%;
    padding: 0 10px 10px 10px;
    margin: auto;
}

.media-header
{
    padding: 10px 0 0;
}

.media-menu-content
{
    width: 100%;
    height: 320px;
}

.media-label
{
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.media-label:hover
{
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.media-preview
{
    width: 100%;
    height: auto;
    background: rgb(36, 18, 207);
}

.media-select-file
{
    padding: 5px;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.3);
}

.media-select-file:hover
{
    opacity: 0.8;
    border-bottom: 2px solid;
}

.media-inner-layout
{
    margin: 10px 0;
}

.media-img-layout
{
    padding: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.media-img-layout:hover
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.media-img-thumbnail
{
    width: 100%;
}

.media-img-create-all
{
    width: 58px;
    height: 58px;
    margin: 1px;
}

.media-img-create-all:hover
{
    box-shadow: 0 0 4px rgb(21, 67, 111);
    opacity: 0.8;
}

.progress-layout
{
    height: 4px;
    margin: 10px auto 0;
    border-radius: 5px;
}

.progress-inner
{
    height: 4px;
    border-radius: 4px;
}

.choose-unactive, .save-unactive
{
    opacity: 0.3;
}

.dark-div
{
    width: 100%;
    height: 100%;
    top: 0;
    margin-left: -20px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.inner-title
{
    font-size: 13px;
}

.btn
{
    border: none;
    color: rgb(255, 255, 255);
}

.btn:hover
{
    opacity: 0.8;
    color: rgb(255, 255, 255);
}

.btn-no
{
    background: rgb(186, 186, 186);
    margin-left: 2px;
}

.header-top
{
    top: 0;
}

.header-bottom
{
    bottom: 0;
}

.layout-setting
{
    width: 60%;
    margin: 0 auto 20px;
    padding: 10px 20px 0;
    border-left: 2px dashed rgb(187, 187, 187);
}

.layout-setting-title
{
    margin: 0 0 10px;
}

.layout-setting-clear
{
    width: 60%;
    margin: -20px auto 20px;
    padding: 20px;
}

.table-head-top, .table-head-bottom
{
    padding: 8px;
    background: rgb(227, 227, 227);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.tr:nth-child(odd)
{
    background: rgb(237, 237, 237);
}

.tr td
{
    border:1px solid rgba(0 ,0, 0, 0.1);
}

ul.menu-inline
{
    margin: 10px 0 10px -40px;
}

ul.menu-inline li, ul.menu-inline li form
{
    display: inline;
    margin: 10px 0 0;
    padding: 5px;
    border-radius: 3px;
}

ul.menu-inline li select, ul.menu-inline li button
{
    cursor: pointer;
}

.action-selected
{
    opacity: 0.5;
}

.main-content-header-bottom
{
    margin: -50px 0 0;
}

.main-content-navigation-left
{
    width: 100%;
    padding: 65px 20px 0px 140px;
}

.main-content-navigation-right
{
    width: 100%;
    padding: 65px 140px 0px 20px;
}

.footer-header-bottom
{
    padding: 0 0 50px;
}

.footer-navigation-left
{
    margin: 20px 0 0 170px;
}

.footer-navigation-right
{
    margin: 20px 170px 0 0;
}

.main-navigation-layout-header-bottom
{
    margin: -50px 0 0;
}

.navigation-right
{
    right: 0;
}

.navigation-left
{
    left: 0;
}

.navigation-user p
{
    position: absolute;
    right: 0;
}

.navigation-wrapper
{
    width: 100%;
    height: auto;
    transition: all 0.2s;
}

.navigation-wrapper:hover
{
    cursor: pointer;
}

.navigation-wrapper p
{
    padding: 8px 10px;
    margin: 0 0 2px;
}

.navigation-inner
{
    margin:-2px 0 0;
    width: 100%;
    height: auto;
    transition: all 0.2s;
    display: none;
}

.navigation-inner p
{
    padding: 5px 10px;
    margin:  0;
    transition: all 0.2s;
}

.navigation-inner p:hover
{
    cursor: pointer;
}

.navigation-inner a:hover
{
    text-decoration: none;
}

.icon-navigation
{
    margin: 5px 4px 0 6px;
}

.user-pic-header
{
    margin: 0 0 0 10px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.active
{
    /*background: rgb(38, 97, 31);*/
    color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.link-active
{
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 15px;
    color: #15701C;
}

.unactive
{
    background: rgb(227, 227, 227);
    color: rgb(37, 37, 37);
}

.link-unactive
{
    transition: all 0.2s;
}

.hover
{
    background: rgb(154, 154, 154);
    color: rgb(37, 37, 37);
}

.disable-pointer-events
{
    pointer-events: none;
}

.icon
{
    width: 20px;
    height: 20px;
}

.icon-edit
{
    width: 30px;
    height: 36px;
}

.pic
{
    width: 50px;
    height: 50px;
}

.auto
{
    overflow: auto;
}

.both
{
    clear: both;
}

.fixed
{
    position: fixed;
}

.absolute
{
    position: absolute;
}

.separator
{
    width: 1px;
    background: rgb(186, 186, 186);
}

.shadow
{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.section
{
    margin: 0 0 20px;
}

.child-section, .inner-section
{
    padding: 10px;
}

.inner-section
{
    background: rgb(255, 255, 255);
}

.roboto
{
    font-family: 'Roboto', sans-serif;
}

.underline
{
    text-decoration: underline;
}

.underline:hover
{
    text-decoration: none;
}

.section
{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
    margin: 0 0 20px 0;
    font-family: sans-serif;
    padding: 10px 20px;
    color: rgb(68, 68, 68);
}

.empty-content
{
    padding: 40px;
}

.tr-0
{
    background: rgb(235, 235, 235);
}

.tr-1
{
    background: rgb(245, 245, 245);
}

.loading
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: none;
}

.loading p
{
    margin: 5px 0 0;
}

.loading-sm
{
    width: 20px;
    height: 20px;
}

.trash
{
    margin: 40px 0 0;
}

.pointer
{
    cursor: pointer;
}

.box-pagination
{
    margin: -40px 0 80px;
}

ul.menu-pagination li.page-list, ul.menu-pagination li.page-nextprev
{
    background: rgb(227, 227, 227);
    padding: 4px 10px;
    transition: all 0.2s;
}

ul.menu-pagination li.page-unactive
{
    background: rgb(240, 240, 240);
    color: rgb(200, 200, 200);
    padding: 4px 10px;
}

ul.menu-pagination li.page-list:hover, ul.menu-pagination li.page-nextprev:hover
{
    background: rgb(200, 200, 200);
}

ul.menu-pagination li.menu-pagination-active
{
    background: rgb(200, 200, 200);
}

.none
{
    display: none;
}

.box-relation
{
    height: 100px;
    padding: 5px;
}

.relation-separate
{
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
    margin: 5px 0;
}

.relation-text
{
    margin-left: 5px;
}

.trash-remove, .trash-restore
{
    transition: all 0.2s;
    margin: 0 15px 0;
    padding: 2px 5px;
}

.trash-remove
{
    margin: 0 15px 0 -5px;
}

.trash-remove-all, .trash-restore-all, .remove-all, .trash-all
{
    margin-right: 8px;
    padding: 4px;
    border-radius: 4px;
}

.trash-remove-all
{
    color: rgb(193, 79, 79);
}

.trash-restore-all
{
    color: rgb(63, 133, 66);
}

.trash-header
{
    background: rgb(227,227,227);
    padding: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.trash-section
{
    height: 200px;
}

.trash-content
{
    padding: 10px 0;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.trash-continue, .trash-continue-all
{
    margin: 0 0 0;
    width: auto;
}

.trash-continue-all
{
    padding: 8px;
}

.button-create
{
    opacity: 0.3;
}

.process-button
{
    transition: all 0.2s;
    cursor: pointer;
}

.process-button:hover
{
    opacity: 0.6;
}

.transition
{
    transition: all 0.2s;
}

.add-note
{
    font-size: 12px;
}

.input-quick-edit
{
    height: 30px;
}
