#check
{
      width: 30px;
}

#author
{
    width: 120px;
}

#title
{
    width: 32%;
}

#tag
{
    width: 220px;
}

#date
{
    width: 160px;
}

#category
{
    width: 160px;
}

#sort-published, #sort-drafted, #sort-scheduled
{
    transition: all 0.2s;
}

#sort-published:hover, #sort-drafted:hover, #sort-scheduled:hover
{
    background: rgb(38, 97, 31);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.box-layout
{
    overflow: auto;
}

.tr-edit
{
    display: none;
}

.edit, .quick-edit, .trash-edit, .remove-edit
{
    cursor: pointer;
}
